.Main-Search{ 
  display: flex; 
  justify-content:center
}
.App {
 display: flex;
 flex-direction: column;
 width: 250px;
}

.mainCard-Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center
}